.strike {
    text-decoration: line-through;
}

/* borders around all images used in figures */
div.figure > img,
div.graphviz > img.graphviz {
    border: solid lightgray 1px;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.large-and-bold {
    color: red;
    font-weight: bold;
    font-size: 200%;
}

pre.literal-block {
    font-size: 12px;
    line-height: normal;
    padding: 12px !important;
}

.rst-content .deprecated {
 color: black;
     background: #fc888a;
}

.deprecated > .admonition-title {
     background: #d67173 !important;
}

/* We do not want tables to be arbitrarily truncated after 800px forcing people to scroll sideways … */
.wy-nav-content {
  max-width: none;
}

/* … but we still want text to be wrapped and width of admonitions (tips,  *
 * warnings, notes, …) to be limited.                                      */
p, .admonition {
  max-width: 800px;
}

/* Allow text in tables to wrap and add space between paragraphs. *
 * Scrolling is just too unpleasant.                              */
table.docutils td > p:not(:last-child),
table.docutils th > p:not(:last-child) {
    margin-bottom: 15px !important;
}
table.docutils td,
table.docutils th {
    white-space: normal;
}

/*
    Pick up Host-Strict-Transport-Security (HSTS) header from https://tocco.ch.

    I want to enable HSTS with includeSubDomains to tell browsers that all http
    request going to tocco.ch and its subdomainshould be upgraded to https. In
    order to ensure this doesn't cause any issues, I'll start telling browsers
    to upgrade the requests for a short time only. To get some test coverage, I
    need a few places our people are likely to visit, like this documentation,
    and force loading of a resource from https://tocco.ch to ensure the browser
    picks up the HSTS header.
*/
a.icon-home {
    /* 1x1 transparent pixel with 15 min. caching */
    background-image: url(https://tocco.ch/img/s.gif) !important;
}

/* build status badge */
@media print {
    .build-pipeline-status {
        display: none;
    }
}
.build-pipeline-status {
    float: right;
}

/* Avoid serif font in titles */
.rst-content .toctree-wrapper > p.caption,
h1, h2, h3, h4, h5, h6, legend {
    font-family: inherit;
}

.wy-side-nav-search {
    background-color: #263E5B;
}

img.logo {
    height: 100px !important;
    width: 100px !important;
}

.tocco-disclaimer {
    font-size: 80%;
}

.tocco-doc-contents ul {
    margin: 0 0 0 20px;
}

.tocco-doc-contents ul li {
    list-style-type: disc;
}

.tocco-doc-contents ul li p {
    margin: 5px;
}
